.banner-about {
    #banner-img {
        background-image: url(../img/banner-about.jpg);
    }
}
.our-team {
    .our-team-line {
        width: 10%;
        border-top: 2px solid $main-color;
        transform: translate(-450%);
    }
    .card-text {
        font-size: 14px
    }
}
.social-about {

}